<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="proj.stepUp.mapper.cartMapper">
  	<insert id="insertCart" parameterType="cartVO">
  		insert into cart_tb (cartStock, userIndex, sizeIndex) values(#{cartStock}, #{userIndex}, #{sizeIndex})
  	</insert>
  	
	<select id="selectAll" resultType="CartVO" parameterType="int">
		SELECT c.cartIndex, c.cartStock, s.sizeKind, s.sizeStock, p.prdIndex, p.prdName, p.prdPrice, p.prdRname
			FROM cart_tb c
			LEFT JOIN size_tb s ON c.sizeIndex = s.sizeIndex
            left join product_tb p ON p.prdIndex = s.prdIndex
            where c.userIndex = #{userIndex}
	</select>
	
	<delete id="deleteCart" parameterType="int">
		DELETE FROM cart_tb 
		WHERE cartIndex = #{cartIndex}
	</delete>
</mapper>
