<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="proj.stepUp.mapper.orderMapper">
  	<select id="selectOrderNum" resultType="int" parameterType="String">
  		select count(*) from order_tb where orderNum = #{orderNum}
  	</select>
  	
  	<insert id="insertOrder" parameterType="orderVO">
  		<![CDATA[
  		insert into order_tb (orderAddr, orderPhone, orderTotalPrice, orderPay, userIndex, orderNum, orderPost)
  		values (#{orderAddr}, #{orderPhone}, #{orderTotalPrice}, #{orderPay}, #{userIndex}, #{orderNum}, #{orderPost})
  		]]>
  		<selectKey resultType="int" order="AFTER" keyProperty="orderIndex">
  			select MAX(orderIndex) from order_tb
  		</selectKey>
  	</insert>
  </mapper>