<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="proj.stepUp.mapper.productMapper">
  	<insert id="insertProduct" parameterType="productVO">
  		<![CDATA[insert into product_tb(prdCode, prdName, prdPrice, prdOname, prdRname, prdMadeIn, prdMt, prdCnt,
  		prdQc, prdCare, prdMadeDate) 
  		values(#{prdCode}, #{prdName}, #{prdPrice}, #{prdOname}, #{prdRname}, #{prdMadeIn}, #{prdMt}, #{prdCnt},
  		#{prdQc}, #{prdCare}, #{prdMadeDate})]]>
  		<selectKey resultType="int" order="AFTER" keyProperty="prdIndex">
  			select MAX(prdIndex) from product_tb
  		</selectKey>
  	</insert>
  	
  	<select id="selectProductIndex" parameterType="int" resultType="productVO">
  		select * from product_tb where prdIndex = #{prdIndex}
  	</select>
  	
  	<select id="selectProductByDate" resultType="productVO" parameterType="int">
  		select prdIndex, prdCode, prdName, prdPrice, prdRname from product_tb order by prdDate desc limit 0, #{maxPrd}
  	</select>
  	
  	<select id="selectProductSales" resultType="productVO" parameterType="int">
  	SELECT p.prdIndex, p.prdCode, p.prdName, p.prdPrice, p.prdRname, COALESCE(SUM(o.orderItemStock), 0) as prdSales 
  	FROM product_tb p left join Size_Tb s on p.prdIndex = s.prdIndex
  	left join Order_Item_Tb o ON s.sizeIndex = o.sizeIndex
	GROUP BY p.prdIndex, p.prdName ORDER BY prdSales DESC limit 0, #{maxPrd};
  	</select>
  	
  	<select id="selectBrandPage" parameterType="searchVO" resultType="productVO">
  		select  p.prdIndex, p.prdCode, p.prdName, p.prdPrice, p.prdRname, SUM(oi.orderItemStock) as totalSales 
  		from product_tb p left join Size_Tb s on p.prdIndex = s.prdIndex
  		LEFT JOIN Order_Item_Tb oi ON s.sizeIndex = oi.sizeIndex
  		where p.prdIndex = s.prdIndex
  		and p.prdCode like concat('%',#{searchType},'%')
  		<if test="priceMin != null and priceMax != null">
  				
  		</if>
		<if test="sizeKind != null">
		and ( 1 != 1
		<foreach item="size" collection="sizeKind">
			or s.sizeKind = #{size}
		</foreach>
		)
		</if>
		<if test="prdType != null">
		and ( 1 != 1
		<foreach item="Type" collection="prdType">
			or p.prdCode LIKE concat('__', #{Type}, '%')
		</foreach>
		)
		</if>		
  		GROUP BY p.prdIndex
  		<if test="sort != null">
  			order by
  			<choose>
  				<when test="sort eq 'new'">p.prdDate desc</when>
  				<when test="sort eq 'sale'">totalSales desc</when>
  				<when test="sort eq 'low'">p.prdPrice</when>
  				<when test="sort eq 'high'">p.prdPrice desc</when>
  			</choose>
  		</if>
  		limit #{start}, #{perPage}
  	</select>
  	
  	<select id="selectBrandToal" parameterType="searchVO" resultType="int">
  		select count(DISTINCT p.prdIndex) as total from product_tb p left join Size_Tb s on p.prdIndex = s.prdIndex
  		where p.prdIndex = s.prdIndex
  		and p.prdCode like concat('%',#{searchType},'%')
  		<if test="priceMin != null and priceMax != null">
  			and p.prdPrice BETWEEN #{priceMin, jdbcType=INTEGER} AND #{priceMax, jdbcType=INTEGER}
  		</if>
		<if test="sizeKind != null">
		and ( 1 != 1
		<foreach item="size" collection="sizeKind">
			or s.sizeKind = #{size}
		</foreach>
		)
		</if>
		<if test="prdType != null">
		and ( 1 != 1
		<foreach item="Type" collection="prdType">
			or p.prdCode LIKE concat('__', #{Type}, '%')
		</foreach>
		)
		</if>
  	</select>
  </mapper>