<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="proj.stepUp.mapper.productMapper">
  	<insert id="insertProduct" parameterType="productVO">
  		<![CDATA[insert into product_tb(prdCode, prdName, prdPrice, prdOname, prdRname, prdMadeIn, prdMt, prdCnt,
  		prdQc, prdCare, prdMadeDate) 
  		values(#{prdCode}, #{prdName}, #{prdPrice}, #{prdOname}, #{prdRname}, #{prdMadeIn}, #{prdMt}, #{prdCnt},
  		#{prdQc}, #{prdCare}, #{prdMadeDate})]]>
  		<selectKey resultType="int" order="AFTER" keyProperty="prdIndex">
  			select MAX(prdIndex) from product_tb
  		</selectKey>
  	</insert>
  	
  	<select id="selectProductIndex" parameterType="int" resultType="productVO">
  		select * from product_tb where prdIndex = #{prdIndex}
  	</select>
  	
  	<select id="selectProductByDate" resultType="productVO" parameterType="int">
  		select prdIndex, prdCode, prdName, prdPrice, prdRname from product_tb order by prdDate desc limit 0, #{maxPrd}
  	</select>
  	
  	<select id="selectProductSales" resultType="productVO" parameterType="int">
  	SELECT p.prdIndex, p.prdCode, p.prdName, p.prdPrice, p.prdRname, COALESCE(SUM(o.orderItemStock), 0) as prdSales 
  	FROM product_tb p left join Size_Tb s on p.prdIndex = s.prdIndex
  	left join Order_Item_Tb o ON s.sizeIndex = o.sizeIndex
	GROUP BY p.prdIndex, p.prdName ORDER BY prdSales DESC limit 0, #{maxPrd};
  	</select>
  </mapper>