@charset "UTF-8";
@import url(./reset.css);
@import url(./font.css);

/*index.jsp 영역 시작*/
*{
    font-family: "LeferiBaseType-RegularA"
}

body{background-color: white;}
/*header 시작*/
header{overflow: hidden; height: 100px; transition: all 0.5s ease-in-out; position: fixed; top: 0px; right: 0; width: 100%; z-index: 10;
    background:linear-gradient(white 100px, rgba(255, 255, 255, 0.9) 0px, rgba(255,255,255,0.9));}
#gnb{font-size: 13px;}
#gnb a{text-decoration: none; color: #3E5084; font-family: "LeferiBaseType-RegularA"; box-sizing: border-box;}
#gnb>li{padding: 20px; text-align: center;}
#gnb>li>a{font-weight: bold; display: inline-block;}
#gnb>li>a:after{content: ""; display: block; border: 1px solid #3E5084; margin-top: 5px; opacity: 0; transition: all 0.3s ease-in-out;
    width: 0;}
#gnb>li:hover>a:after{opacity: 1; width: 100%;}
#gnb>li ul li{padding: 10px; text-align: center;}
#gnb>li>ul a{transition: all 0.3s ease-in-out; padding: 20px 0;}
#gnb>li>ul a:hover{color: orange;}


.logo-wrap{position: relative; margin-left: 2.5%;}
.logo{width: 10rem; height: 3rem;}
.logo a{background: url(../image/kickshublogo.png) no-repeat; width: 100%; height: 100%; display: inline-block;
    background-size: 100% auto; text-decoration: none;}
.logo a span{clip: rect(0 0 0 0); position: absolute; overflow: hidden;}

#user a{font-size: 1.4rem; padding: 10px;}
#user i{color:black; transition: all 0.3s ease-in-out;}
#user a:hover i{transform: scale(1.2);}
/*header 끝*/







/*main 시작*/
main{margin-top: 100px;}
/*메인 베너 시작*/
.swiper{border-radius: 0 200px 0 0; box-sizing: content-box; height: 85vh;}/*베너 전체 영역*/
.swiper-pagination-bullet{border-radius: 0; width: 5%; height: 0.3rem;}/*페이지 네이션 적용 클래스*/
.swiper-pagination-bullet-active{background:white;}/*현재 위치한 페이지 네이션 적용 클래스*/
.swiper-button-next{color: gray;}/*다음 페이지 버튼 클래스*/
.swiper-button-prev{color: gray;}/*이전 페이지 버튼 클래스*/
.swiper .swiper-slide:nth-child(1){background-image:url(/image/view02.jpg); background-size: cover;}/*베너 첫번째 이미지*/
.swiper .swiper-slide:nth-child(2){background:url(/image/view02.jpg); background-size: cover;}/*베너 두번째 이미지*/
.swiper .swiper-slide:nth-child(3){background:url(/image/view02.jpg); background-size: cover;}/*베너 세번째 이미지*/
.swiper .banner-link{width: 100%; height: 100%; display: inline-block;}
/*메인 베너 끝*/

/*메인 콘텐츠 영역 시작*/
.main-new{margin: 10% 0; padding: 0 3%; overflow: hidden;}
.main-new-title{margin-bottom: 3%; font-size: 1.4rem; }

/*NEW Slider 영역 시작*/
#autoStop{animation-play-state: running;}
.swiperSmall{border-radius: 0 200px 0 0; box-sizing: content-box;}/*베너 전체 영역*/
.swiperSmall .swiper-wrapper{transition-timing-function: linear;}
.swiperSmall-button-next{color: gray;}/*다음 페이지 버튼 클래스*/
.swiperSmall-button-prev{color: gray;}/*이전 페이지 버튼 클래스*/
.swiperSmall .banner-link{width: 100%; height: 100%; display: inline-block;}
.swiperSmall .cnt_img1{width: 22vw;;}
.swiperSmall a{text-decoration: none;}
/*NEW Slider 영역 끝*/

/*Main 페이지 brand 영역 시작*/
.main-brand{ position: relative; height: 70vh; background:linear-gradient(#13816e 50%, rgba(255, 255, 255, 0.9) 0px, rgba(255,255,255,0.9));
    margin-bottom: 8%;}
.main-brand-title{color: white; font-size: 1.3rem; position: absolute; top: 6%; left: 4%;}
.main-brand-img{position: absolute; bottom: 0; left: 0; height: 80%; width: 92%;
    margin-left: 4%; box-sizing: border-box;}
.main-brand-img a{width: calc(100%/3); background-size: cover;}
.main-brand-img a:nth-child(1){background-image: url(/image/view02.jpg);}
.main-brand-img a:nth-child(2){background-image: url(/image/view03.jpg); margin: 0 1%; }
.main-brand-img a:nth-child(3){background-image: url(/image/view04.jpg);}
/*Main 페이지 brand 영역 끝*/

/*Main 페이지 이벤트 영역 시작*/
.main-event{width: 100%; height: 20vh; padding: 0 8%; margin-bottom: 10%;}
.main-event a{height: 100%; width: 100%; background-size: cover;}
.main-event a:nth-child(1){background-image: url(/image/view06.jpg); margin-right: 2%;}
.main-event a:nth-child(2){background-image: url(/image/view05.jpg);}
/*Main 페이지 이벤트 영역 끝*/

/*Main 페이지 liner* 영역 시작*/
.main-liner{background:url(/image/view04.jpg); width: 100%; height: 2vh; margin-bottom: 1%;}
.main-liner span{text-indent: -10000px; position: absolute;}
/*Main 페이지 liner* 영역 끝*/
/*Main 페이지 branBest 영역 시작*/
.main-brandBest{width: 100%; height: 90vh; background-color: #ededed; padding: 2% 3% 7%;}
.main-brandBest-img{width: 37%; height: 100%; background-image: url(/image/view03.jpg); background-size: cover;}
.main-brandBest-items{ width: 60%; height: 100%; overflow: scroll; -ms-overflow-style: none;}
.main-brandBest-items::-webkit-scrollbar { 
    display: none;
    width: 0 !important;
}
.main-brandBest-items-title{font-size: 1.3rem; margin-top: 3%; margin-bottom: 3%;}
.main-brandBest-items .cnt_info{width: calc(100%/3); margin-bottom: 4%;}
.main-brandBest-items .cnt_info a div{height: 10vw;}
.main-brandBest-items .cnt_img1{height: 10vw; background-size: cover;}
/*Main 페이지 branBest 영역 끝*/
/*메인 콘텐츠 영역 끝*/
/*main 끝*/







/* footer 시작 */
footer {height: 230px; background: #1e1e1e; width: 100%;}
.footinfo{width: 60%; margin-left: 4%; }
.footinfo ul{margin-top: 5%;}
.footinfo li{height: 20px;}
.footinfo li a, .footinfo li{font-size: 10px; color: #a5a5a5;}
#footlogosns{height: 100px; width: 12%; margin-top: 3%; margin-right: 4%;}
#footlogosns ul li, #footlogosns ul li a{
    display: inline-block; 
    width: 35px; height: 35px; 
    }
#footlogo{
    width: 100%; height: 23px;
    background-image: url("../image/footer_logo.png");
    background-repeat: no-repeat; background-size: contain;
}
#footsns{
    padding-top: 1.0em;
}
#footsns li a span, #footlogo a span{
    display: inline-block;
    width: 100%; height: 100%;
    text-indent: 9999%;
    overflow: hidden;}
#sns_fb  a{background-image: url("../image/sns_fb.png");  }
#sns_tw  a{background-image: url("../image/sns_tw.png");  }
#sns_ist a{background-image: url("../image/sns_ist.png"); }
#sns_ytb a{background-image: url("../image/sns_ytb.png"); }
#sns_fb a, #sns_tw a, #sns_ist a, #sns_ytb a{
    background-repeat: no-repeat; background-size: cover;
}
/* footer 끝 */
/*index.jsp 영역 끝*/


/*login.jsp css 영역 시작*/
.login-area{padding: 0 10px; width: auto; max-width: 460px; min-width: 290px; margin: 0 auto;}
/*login-header 시작*/
.login-header{width: 100%; height: 100%; padding: 20% 0 0;}
.login-header img{display: block; width: 100%; height: 100%;}
/*login-header 끝*/

/*login-main 시작*/
.login-main{margin-top: 10%;}
.form-floating #eyes{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2%;
    margin: auto 2px;
    height: 30px;
    font-size: 25px;
    cursor: pointer; 
}
.login-btn-area{margin-top: 5%;}
.login-btn-area .btn{background-color: white; color: black; border:1px solid black; transition: all 0.3s ease-in-out;}
.login-btn-area .btn:hover{background-color: black; color: white; border:1px solid white ;}
.login-btn-area button{padding: 3% 0;}
.find-area{margin-top: 5%;}
.find-area a{text-decoration: none; color: black;}
.find-area a:hover{text-decoration: underline;}
.find-btn{margin-left: 2%;}
.sns-login {margin-top: 2%;}
.sns-login img{width: 100%;}
/*login-main 끝*/
/*login.jsp css 영역 끝*/


/* brand.jsp css 영역 시작*/
/* 필터 */
/* 사이즈 체크박스*/
#prd_filter{width: 13%; 
    height: 800px;
    margin: 4% 4%;
    position: sticky; top: 22%;
}
    
#prd_addr{
    margin-bottom: 50px;
}
#prd_addr a, #prd_addr span{
    font-size: 10px;
    text-decoration: none;
    color: #000;
}
.filter_ttl{
    font-weight: bold;
    font-size: 13px;
    margin: 20px 0;
}




.size_box{
    margin-right: 5%; margin-top: 2%;
    position: relative;
}
#size_check{
    padding-bottom: 25px;
    border-bottom: 1px solid #aeaeae;
    display: flex;
    flex-wrap: wrap;
    
}
.size_box input{
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
}
.size_box label span{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 50px; height: 30px;
    color: #000;
    border: 1px solid #aeaeae;
    cursor: pointer;
    font-size: 12px;
}

.size_box input:checked ~ label span {
    color: #fff;
    background: #000;
    border: 0;
}
/* 가격 체크박스*/
#prc_check{
    padding-bottom: 25px;
    border-bottom: 1px solid #aeaeae;
}

.prc_box{
    margin-bottom: 5px;
}

.prc_box label{
    vertical-align: top;
    padding-top: 0.5px;
}

.prc_box label span{
    vertical-align: top;
    font-size: 12px;
}

/* 종류 체크박스*/

#type_check{
    padding-bottom: 25px;
}

.type_box{
    margin-bottom: 5px;
}

.type_box label{
    vertical-align: top;
    padding-top: 0.5px;
}

.type_box label span{
    vertical-align: top;
    font-size: 12px;
}

/* 컨텐츠 영역 */
#prd_cnt{
    width: 79%;
}
#brand_main{
    width: 100%; height: 400px;
    background-image: url("../image/brand/Brand_view01.jpg"); 
    background-repeat: no-repeat; background-size: cover;
    border-radius: 0 0 150px 0;
}

#prd_sort{
    margin-top: 70px;
    margin-right: 12px;
    padding-right: 30px;
    text-align: right;
    font-size: 12px;
    margin-bottom: 30px;
}
#prd_sort a {
    text-decoration: none;
    color: #000;
}
#prd_sort span{
    font-size: 12px;
    vertical-align: top;
    color: #aeaeae;
}

#cnt_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.cnt_info{
    width: 24%;
    margin-bottom: 5%;
}
.cnt_info a{
    text-decoration: none;

}
.cnt_info a div{
    width: 18vw; height: 16vw;
    overflow: hidden;
}
.cnt_img1{
    width: 18vw; height: 16vw;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: all 0.2s ease-in-out;
   
}

.cnt_info:hover .cnt_img1{
   
    transform: scale(1.1);
    overflow: hidden;
}

.cnt_img1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: #9290ae;
    opacity: 0.2;
  }
  .cnt_name{
    margin-top: 15px;
  }
  .cnt_prc {
    margin-top: 5px;
  }
 
.cnt_prc span{
    font-weight: bold;
  }
.cnt_name span, .cnt_prc span{
    text-align: left;
    color: #000;
    font-size: 14px;
    
}

/* brand.jsp css 영역 끝*/


/*new.jsp css 영역 시작*/
/*main banner 영역 시작*/
.new-banner-area{width: 100%; height: 85vh; background-color: #000; position: relative; border-radius: 0 0 0 300px; overflow: hidden;
    transition: all 0.3s ease-in-out;}
.new-banner-area a{width: 25%; opacity: 0.7; transition: all 0.3s ease-in-out;}
.new-banner-area a:nth-child(1){background: red;}
.new-banner-area a:nth-child(1):hover{opacity: 1;}
.new-banner-area a:nth-child(2){background: blue;}
.new-banner-area a:nth-child(2):hover{opacity: 1;}
.new-banner-area a:nth-child(3){background: green;}
.new-banner-area a:nth-child(3):hover{opacity: 1;}
.new-banner-area a:nth-child(4){background: yellow;}
.new-banner-area a:nth-child(4):hover{opacity: 1;}
/*main banner 영역 끝*/
/*new.jsp css 영역 끝*/


/*best.jsp 영역 시작*/

.best-prd{width: 75%; margin-left: 4%; box-sizing: content-box; margin-top: 13%;}
/*best 제목 시작*/
.best-title{margin-bottom: 4%;}
.best-title h2{font-size: 1.7rem;}
/*best 제목 끝*/

/*best 상품영역 시작*/
.best-prd .cnt_info{width: 24%; position: relative;}
.best-prd .cnt_img1{width: 17vw;}
.best-rank{position: absolute; background-color: black; z-index: 1; top: 0; left: 0;
    width: 20%; height: 20%; background: linear-gradient(-45deg, transparent 50%, black 0);}
.best-rank span{color: white; position: absolute; top: 21%; left: 18%; display: block; font-weight: bold; font-size: 1rem;}
/*best 상품영역 끝*/

/*best 좌측 배너(badage)영역 시작*/
.best-badage{width: 21%; height: 100vh; position: fixed; top: 100px; right: 0; border-radius: 50%/20% 0 0 0 ; overflow: hidden;
    z-index: -1;}
.best-badage img{width: 100%; height: 100%;}
/*best 좌측 배너(badage)영역 끝*/

/*best.jsp 영역  끝*/


/*board write 시작 */
#board_ttl{
  font-size: 20px;
  margin-top: 180px;
  margin-bottom: 50px;
}

#board_write{
    width: 80%;
    margin: 0 auto;
}
.input_title{
    font-family: 'Courier New', Courier, monospace;
    height: 45px;
    line-height: normal;
   
}
    
.input_title{
    margin-bottom: 15px;
    width: 100%
}
#board_button{
    margin-top: 20px;
    text-align: right;
    margin-bottom: 20px;
}
#board_button input{
	height: 35px;
}
/*board_write 끝 */

/*board_view 게시판 보기  시작*/
#board_contain{
    width: 60%;
    margin: 30px auto;
}
.nomal_board {
    margin: 0 auto;
    width: 100%;
  }
  .nomal_board tr, .nomal_board th, .nomal_board td {
    height: 55px;
    vertical-align: middle;
  }
  .nomal_board th {
    background: #ededed;
    font-size: 15px;
    color: #000;
  }
  .nomal_board td {
    text-align: center;
    
  }
  .nomal_board td div {
    text-align: left;
    padding-left: 15px;
  }
  .nomal_board td span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
  }
  
  .board_title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 210px;
  }
  .boardNum {
    text-align: center;
    width: 10%;
  }
  
  .boardTtl {
    width: 60%;
    text-align: center;
  }
  
  .wDate {
    width: 10%;
    text-align: center;
  }
  
  .wID {
    width: 10%;
    text-align: center;
  }
  
  .boardHit {
    width: 10%;
    text-align: center;
  }
  
  .board_page td {
    height: 60px;
  }
  
  .board_search div {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  .board_search select, .board_search input, .board_search button {
    display: inline-block;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
  }
  .keyword {
    margin: 0 15px;
  }
  .board_Write {
    position: absolute;
    right: 25%;
  }
  .nomal_board tbody tr{
    border-bottom: 1px solid #dfdfdf;
  }
  .nomal_board tbody tr td a{
    text-decoration: none;
    color: inherit;
  }
 /*board_view 게시판 보기 끝*/ 

  /*회원가입 시작*/

  #join_contain{
    width: 40%;
    margin: 150px auto;

  }
  #join_title{
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0;
  }
  #join_btn input{
    width: 47.5%;
    height: 50px;
    margin: 50px 1%;
    background: #1e1e1e ;
    color: #fff;
  }

    #pwceyes{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2%;
    margin: auto 2px;
    height: 30px;
    font-size: 25px;
    cursor: pointer; 
}

  #userZipCode{
    width: 80%;
 }
 
 .w-80{
 	width: 80%;
 }
 
 #check-Phone{
 	position: absolute;
 	top: 29%;
 	right: 4%;
 	color: black;
 }
  /*회원가입 끝*/

    /*상품 상세보기 페이지*/
    #prd_view{
      margin-top: 180px;
    }
    #prd_view ,#prd_pic{
      display: flex;
      justify-content: space-between;
    
    }
    #prd_pic{
      width: 67%;
      height: 550px;
    }
    #prd_select{
      width: 25%;
      margin-left: 15px;
      margin-right: 5%;
    }
  
    #prd_pic ul{
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between
    }
    #prd_pic ul li{
      height: 176.5px;
    }
    .big_img{
      width: 74%;
      height: 550px;
      
  
    }
    .big_img, .small_img{
      background-position: center;
      background-size: cover;
      position: relative;
      
    }
  
  .small_img::after, .big_img::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background:#aeaeae;
    opacity: 0.2;
  }
  
  #prd_brand
  {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 10px;
    padding-bottom: 12px;
  }
  #prd_brand span, #prd_price span{
    font-size: 20px;
  }
  #prd_name{
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #prd_name span{
    font-size: 25px; font-weight: bold;
  }
  #prd_code span{
    color: #8e8e8e;
    font-size: 14px;
  }
  #prd_price{
    margin-top: 22px;
  }
  #prd_price {
    font-size: 22px;
  }
  #size_ttl{
    margin-top: 22px;
  }
  
  /*상품 상세보기 페이지 사이즈 체크박스*/
   
  #select_box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 15px;
  }
  .select_size input{
      width: 0px;
      height: 0px;
      padding: 0px;
      margin: 0px;
  }
  .select_size{
    position: relative;
    height: 41px;
    display: block;
    width: 23%;
    height: 40px;
    margin-top: 7px;
  }
  .select_size label{
    position: absolute;
    width: 100%;
  }
  .select_size label span{
      text-align: center;
      vertical-align: middle;
      width: 100%; height: 40px;
      color: #000;
      border: 1px solid #e0e0e0;
      cursor: pointer;
      font-size: 14px;
      display: inline-block;
      line-height: 40px;
      padding-top: 2px;
  }
  .select_size input:checked ~ label span {
      color: #fff;
      background: #494949;
      border: 0;
  }
  
  .select_prdName{
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .decrease-btn, .increase-btn{
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 15px;
    padding: 0;
    color: #fff;
    background: #a5a5a5;
    border: 0;
    padding-top: 4px;
  }
  .qnt_numb{
    text-align: center;
    width: 30px;
    border: 0;
    font-size: 14px;
  }
  .size_selected li{
    background: #f2f2f2;
    padding: 19px 15px 13px 20px;
    margin-bottom: 5px;
    
  }
  .xi_btn{
    float: right;
  }
  
  .xi-close:before {
    content: "\e921";
    cursor: pointer;
    color: #a5a5a5;
    font-size: 14px;
  }
  .selec_PrdPrice{
    float: right;
  }
  .total_price{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: right;
  }
  #cart_btn, #buy_btn{
    width: 48%;
    height: 50px;
    margin-bottom: 20px;
  }
  #cart_btn{
    background: #494949;
    color: #fff;
    border: 0;
  }
  #buy_btn{
    float: right;
    background: #fff;
    border: 1px solid #494949;
    color: #494949;
  }
  
  /*상품 링크*/
  #info_link{
    width: 63%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
  }
  #info_link div a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
  }
  #info_link span{
    color: #a5a5a5;
    font-size: 12px;
  }
  /* 상품 정보*/
  #prdinfo_tap1{
    border-top: 1px solid #494949;
    border-bottom: 1px solid #494949;
  }
  #prdinfo_tap1 table{
    width: 63%;
    margin: 30px auto;
    font-size: 12px;
    
    
  }
  #prdinfo_tap1 td, #prdinfo_tap3 td{
    vertical-align: top;
    line-height: 2em;
  }
  
  .prd_table1{
    width: 135px;
    height: 50px;
   
  }
  .prd_table2{
    height: 80px;
  }
  /*상품 상세 설명*/
  .prd_infoPic{
    margin: 15px auto;
    width: 63%;
    background-position: center;
    background-size: cover;
    height: 500px;
  }
  
  /*반품 안내*/
  #prdinfo_tap3{
    border-top: 1px solid #494949;
    border-bottom: 1px solid #494949;
    margin: 50px auto;
  }
  
  #prdinfo_tap2 p{
    
    width: 63%;
    margin: 0 auto;
  }
  #prdinfo_tap3 table{
    width: 63%;
    margin: 50px auto;
    font-size: 12px; 
  }
  
    /*별점 및 상품평 작성*/
  .star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
    margin: 15px auto;
    width: 75%;
  
  
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color:#f90;
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }
  
  #review_write{
    width: 63%;
    margin: 50px auto;
  }
  #review_formTtl{
    margin-top: 50px;
    margin-bottom: 35px;
    font-weight: bold;
  }
  #review_writeCnt{
    display: inline-block;
    width: 75%;
    height: 200px;
    vertical-align: top;
    line-height: 2em;
    padding: 15px;
    resize: none;
    border:solid 1px #a5a5a5;
    font-size: 14px;
  }
  #rating_ctn{
    display: inline-block;
    width: 23%;
    height: 200px;
    border:solid 1px #a5a5a5;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-left: 1%;
  }
  #rating_ctn span{
    display: inline-block;
    margin-top: 65px;
    font-size: 14px;
  }
  #rating_ctn button{
    display: inline-block;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: #494949;
    color: #fff;
    border: 0;
    font-size: 14px;
  }
  /*상품평*/
  #review_ctn{
    width: 63%;
    margin: 50px auto;
    
  }
  #review_ctn li{
    margin-top: 50px;
    border-bottom: solid 1px #a5a5a5;
  }
  .review_star{
    color:#f90;
  }
  .review_writer{
    margin-left: 25px;
    margin-right: 25px;
  }
  .review_winfo{
    margin-bottom: 25px;
  }
  .review_winfo span{
    font-size: 13px;
  }
  
  .review_winfo input{
    float: right;
    font-size: 12px;
    width: 50px;
    height: 25px;
    margin-right: 10px;
  }
  .review_note{
    margin-bottom: 30px;
    font-size: 14px;
  }
  .review_edit{
    background: #bfbfbf;
    color: #fff;
    border: 0;
  }
  .review_del{
    background: #fff;
    color: #bfbfbf;
    border: solid 1px #a5a5a5;
  }
  #reeview_page li{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  
  /*brand_write 시작*/
  .atc_file{
    height: 35px; padding: 2px;
    font-family: 'Courier New', Courier, monospace;
  }
  